@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-item" href="#">Hello @UserManager.GetUserName(User)</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-item" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-item" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>